/********* HOM-Custom.css *********/
/********* Customm Font *********/
@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-BlackItalic.eot');
    src: local('Silk Serif Black Italic'), local('SilkSerif-BlackItalic'),
        url('SilkSerif-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-BlackItalic.woff2') format('woff2'),
        url('SilkSerif-BlackItalic.woff') format('woff'),
        url('SilkSerif-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-BoldItalic.eot');
    src: local('Silk Serif Bold Italic'), local('SilkSerif-BoldItalic'),
        url('SilkSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-BoldItalic.woff2') format('woff2'),
        url('SilkSerif-BoldItalic.woff') format('woff'),
        url('SilkSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-LightItalic.eot');
    src: local('Silk Serif Light Italic'), local('SilkSerif-LightItalic'),
        url('SilkSerif-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-LightItalic.woff2') format('woff2'),
        url('SilkSerif-LightItalic.woff') format('woff'),
        url('SilkSerif-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Regular.eot');
    src: local('Silk Serif'), local('SilkSerif-Regular'),
        url('SilkSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Regular.woff2') format('woff2'),
        url('SilkSerif-Regular.woff') format('woff'),
        url('SilkSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-ExtraLightItalic.eot');
    src: local('Silk Serif ExtraLight Italic'), local('SilkSerif-ExtraLightItalic'),
        url('SilkSerif-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-ExtraLightItalic.woff2') format('woff2'),
        url('SilkSerif-ExtraLightItalic.woff') format('woff'),
        url('SilkSerif-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-SemiBoldItalic.eot');
    src: local('Silk Serif SemiBold Italic'), local('SilkSerif-SemiBoldItalic'),
        url('SilkSerif-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-SemiBoldItalic.woff2') format('woff2'),
        url('SilkSerif-SemiBoldItalic.woff') format('woff'),
        url('SilkSerif-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-SemiBold.eot');
    src: local('Silk Serif SemiBold'), local('SilkSerif-SemiBold'),
        url('SilkSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-SemiBold.woff2') format('woff2'),
        url('SilkSerif-SemiBold.woff') format('woff'),
        url('SilkSerif-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-MediumItalic.eot');
    src: local('Silk Serif Medium Italic'), local('SilkSerif-MediumItalic'),
        url('SilkSerif-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-MediumItalic.woff2') format('woff2'),
        url('SilkSerif-MediumItalic.woff') format('woff'),
        url('SilkSerif-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-ExtraLight.eot');
    src: local('Silk Serif ExtraLight'), local('SilkSerif-ExtraLight'),
        url('SilkSerif-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-ExtraLight.woff2') format('woff2'),
        url('SilkSerif-ExtraLight.woff') format('woff'),
        url('SilkSerif-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Medium.eot');
    src: local('Silk Serif Medium'), local('SilkSerif-Medium'),
        url('SilkSerif-Medium.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Medium.woff2') format('woff2'),
        url('SilkSerif-Medium.woff') format('woff'),
        url('SilkSerif-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Light.eot');
    src: local('Silk Serif Light'), local('SilkSerif-Light'),
        url('SilkSerif-Light.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Light.woff2') format('woff2'),
        url('SilkSerif-Light.woff') format('woff'),
        url('SilkSerif-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Italic.eot');
    src: local('Silk Serif Italic'), local('SilkSerif-Italic'),
        url('SilkSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Italic.woff2') format('woff2'),
        url('SilkSerif-Italic.woff') format('woff'),
        url('SilkSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Bold.eot');
    src: local('Silk Serif Bold'), local('SilkSerif-Bold'),
        url('SilkSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Bold.woff2') format('woff2'),
        url('SilkSerif-Bold.woff') format('woff'),
        url('SilkSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Black.eot');
    src: local('Silk Serif Black'), local('SilkSerif-Black'),
        url('SilkSerif-Black.eot?#iefix') format('embedded-opentype'),
        url('SilkSerif-Black.woff2') format('woff2'),
        url('SilkSerif-Black.woff') format('woff'),
        url('SilkSerif-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/********* Global *********/
/* Fonts */

.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Silk Serif'!important;
    font-weight: normal;
    text-transform: uppercase;
}

.h1 {
    font-size: 24px; 
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
  }
  body {
    font-family: 'Work Sans', sans-serif;
  }

  .h0 {
    font-size: 4rem;
  }
  
  @media only screen and (min-width: 750px) {
    .h0 {
      font-size: 5.2rem;
    }
  }
  
  h1,
  .h1 {
    font-size: 3rem;
  }
  
  @media only screen and (min-width: 750px) {
    h1,
    .h1 {
      /* font-size: 4rem; */
      font-size: 2rem;
    }
  }
  
  h2,
  .h2 {
    /* font-size: 2rem; */
    font-size: 1rem;
  }
  
  @media only screen and (min-width: 750px) {
    h2,
    .h2 {
      /* font-size: 2.4rem; */
      font-size: 1.4rem;
    }
  }
  
  h3,
  .h3 {
    /* font-size: 1.7rem; */
    font-size: 1.2rem;
  }
  
  @media only screen and (min-width: 750px) {
    h3,
    .h3 {
      font-size: 1.8rem;
    }
  }
  
  h4,
  .h4 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-size: 1.5rem;
  }
  
  h5,
  .h5 {
    font-size: 1.2rem;
  }
  
  @media only screen and (min-width: 750px) {
    h5,
    .h5 {
      font-size: 1.3rem;
    }
  }
  
  h6,
  .h6 {
    color: rgba(var(--color-foreground), 0.75);
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
  }

.page-width {
    max-width: 150rem;
    margin: 0 auto;
}
/********* Header *********/
nav.header__inline-menu {
    width: calc(100% - 150px);
    text-align: center;
}
.header__menu-item span {
    font-size: 12px;
    letter-spacing: 2px;
}

a.link.link--text.list-menu__item.list-menu__item--link {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}
.header__submenu .header__menu-item {
    font-size: 12px;
}

@media screen and (min-width: 990px){
.header {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
}

.link, .customer a{
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 14px;
    }


/* Page Layouts */

.shopify-policy__container {
    max-width: 100rem;
    margin-bottom: 50px;
}
.page-width.page-width--narrow {
    max-width: 100rem;
    margin-bottom: 50px;
}

h1.main-page-title {
    font-size: 28px;
}

/********* Product Page *********/

h1.product__title{
     font-size 24px;
    margin-top: 20px!important;
}
p.afterpay-paragraph {
    margin-top: 14px!important;
}

.accordion__content.rte{
    font-family: 'Work Sans',sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: black;
    
}

span.price-item.price-item--regular {
    font-size: 12px;
}

button#ProductPopup-1dc5a3d4-a6dd-4a05-9959-4c66c0927329 {
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
}

modal-opener.product-popup-modal__opener.no-js-hidden {
    float: right;
    margin-top: -21px;
    font-size: 12px!important;
    margin-right: -8px;
}

#embeddedMySize {
    z-index: 1!important;
}

@media screen and (min-width: 990px){
.product:not(.product--no-media):not(.featured-product) .product__info-wrapper {
    padding-left: 4rem;
    max-width: 25%!important;
    width: calc(25% - 1rem / 2)!important;
}

.product:not(.product--no-media):not(.featured-product) .product__media-wrapper {
    max-width: 75%!important;
    width: calc(75% - 1rem / 2)!important;
}
}

.product-form__input input[type='radio'] + label{
    padding: .5rem .75rem!important;
    border-radius: 0!important;
}

.product-form__submit {
    font-family: 'Silk Serif';
    font-weight: normal;
    text-transform: uppercase;
}

.shopify-payment-button__button {
    font-family: 'Silk Serif'!important;
    font-weight: normal!important;
    text-transform: uppercase;
}

.product__description.rte {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: 300;
}

.form__label {
  text-transform: uppercase;
}

h2.h4.accordion__title {
  font-size: 12px;
}

.product-popup-modal__button {
  font-size: 12px;
}

/******** Mega Menu ********/

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul li a {
      color: #000;
      display: block;
      text-decoration: none;
      font-family: 'Work Sans', sans-serif;
      font-size: 14px!important;
      text-align: left;
      line-height: 29px;
      text-transform: uppercase;
    }

    .list-menu--right {
      right: 0;
    }

    details-disclosure>details {
      position: static;
    }

    .open-mega-menu {
      position: absolute;
      min-width: 100%;
      width: 20rem;
      border: 1px solid var(--color-foreground-20);
      background-color: var(--color-background);
      left: 0;
      background: #f7f7f7;
      z-index: 100;
    }

    .list-menu--disclosure {}

    .list-menu--disclosure:focus {
      outline: none;
    }

    .list-menu__item--active {
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }

    .list-menu--disclosure.localization-selector {
      max-height: 18rem;
      overflow: auto;
      width: 10rem;
      padding: 0.5rem;
    }

    .sub-menu-area {
      display: flex;
    }

    .sub-menu-area .sub-menu-list-box {
      width: 70%;
      display: flex;
      justify-content: space-between;
    }

    .sub-menu-area .sub-menu-list-box-other {
      width: 100%;
      display: flex;
      justify-content: center;
      overflow: scroll;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box {
      width: 23%;
      margin-right: 2%;
      text-align: left;
    }

    .sub-menu-area .sub-menu-list-box-other .sub-menu-item-box {
      text-align: center;
      margin: 0 2%;
      align-items: center;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box h4 {
      font-size: 20px;
      font-family: 'Silk Serif';
      font-weight: normal;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul li {
      margin: 5px 0;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul li a {
      color: #000;
      display: block;
      text-decoration: none;
    }

    .sub-menu-area .sub-menu-image {
      width: 30%;
    }

    .sub-menu-area .sub-menu-image img {
      width: 100%;
    }

    .menu-width-box {
      padding: 40px;
    }

   .header {
    padding-left: 40px;
    padding-right: 40px;
    z-index: 99999;
}

    h4.collection-menu-title a {
      text-decoration: none;
      color: black;
      font-family: 'Silk Serif';
      font-weight: normal;
      text-transform: uppercase;
  }

  .sub-menu-area .sub-menu-list-box-other .sub-menu-item-box img:hover{
    transform: scale(1.03);
    transition: transform var(--duration-long) ease;

  }
  .sub-menu-area .sub-menu-list-box-other .sub-menu-item-box img {
    transition: transform var(--duration-long) ease;

  }

    /******** Collection Page ********/
    /* Facets */

    .facets__display {
      border: 1px solid black!important;
    }
    .facets__header {
    border-bottom: 1px solid black!important;
    text-transform: uppercase!important;
    }

    collection-filters-form.facets.small-hide {
      border-bottom: 1px solid black!important;
    }

    summary.facets__summary.caption-large.focus-offset {
    text-transform: uppercase;
    font-size: 14px;
    }

    .facets__item {
      text-transform: uppercase;
  }

.product-view a {
    background: white;
    color: black;
    border: 1px solid #000;
    padding: 10px;
    text-decoration: none;
    font-size: 9px;
}

.product-view a:hover {
    background: black;
    color: white;
    border: 1px solid #000;
}

.product-view {
    margin-top: -6px;
}

.facets__summary span {
    font-size: 12px;
    color: black;
}

select#SortBy {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Work Sans';
    color: black;
}

.collection-filters__label {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Work Sans',sans-serif;
    color: black;
}

p.facets__heading.caption-large {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}

p#CollectionProductCountDesktop {
    font-size: 12px; 
    text-transform: uppercase;
}

span.price-item.price-item--regular {
    font-size: 12px;
}

a.pagination__item.link {
    font-size: 12px;
}

.pagination__item--current {
    font-size: 12px;
}

/* Collection Title*/

.collection-hero__text-wrapper {
    text-align: center;
}

  /* Collection List */

  .card--media .card__text-spacing {
    padding: 2rem;
    margin-top: -7rem;
}

.card-colored.color-background-1 {
  background-color: rgba(var(--color-foreground),.0)!important;
}

.card--light-border {
    border: 0rem solid rgba(var(--color-foreground),.04)!important;
}
.card__text h3 {
  color: white;
}


.card--light-border {
    border: 0;
}

a.card {
    margin-bottom: 25px;
    color: white;
}
.card__text.card__text-spacing {
    margin-top: -20rem;
}

.card-colored.color-background-1 {
    background-color: rgb(0 0 0 / 0%);
}

.button, .button-label, .customer button, .shopify-challenge__button {
    font-size: 12px;
    font-family: 'Work Sans',sans-serif;
    text-transform: uppercase;
}

/* Banner */

.banner__text>* {
  color: white;
}


.banner__box.color-background-1 {
  background: none;
}
.banner__box > * {
    width: 100%;
   
}

/*.banner__content {   
  border: 1px solid #fff;
    max-width: 1800px;
  display: block
} */

.banner__box {
    padding: 4rem;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: static;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Shipping icons */

.product__shipping-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 .shippingData .shipping-label {
    height: 36px;
    width: 86px;
    color: #000000;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 6px;

}
.shippingData:last-child {
    justify-content: flex-end;
}

.shippingData img {
    height: 26px;
    width: 26px;
}
.shippingData {
    width: 50%;
    display: flex;
    align-items: center;
}

.shippingData.first-item {
    width: 100%;
    align-items: center;
    justify-content: center;
}
.shippingData.first-item .shipping-label {
    width: auto;
    height: auto;
    margin-bottom: 7px;
}


/* Product Image */

.media.media--hover-effect.product-image > img + img {
  opacity: 1;
}

.media.media--transparent.media--adapt.media--hover-effect.product-image img {
  z-index: 100;
}

.card-wrapper:hover .media.media--transparent.media--adapt.media--hover-effect.product-image img {
  z-index: 1000;
  opacity: 1;
  transition: transform var(--duration-long) ease;
  transform: scale(1.03);
}
.card-wrapper:hover .media.media--transparent.media--adapt.media--hover-effect.product-image img + img {
  z-index: 1000;
  opacity: 0;
  transition: transform var(--duration-long) ease;
  transform: scale(1.03);
}


/* Collection Filters */
.disclosure-has-popup[open] > summary + * {
  z-index: 1000;
}

/* Newslatter */

button#Subscribe {
    position: static;
    box-sizing: border-box;
    height: 48px;
    width: 140px;
    border: 1px solid #000000;
    margin-left: 10px;
}.newsletter__subheading .customer .field input, .field__input {
    box-shadow: none !important;
    border-bottom: 1px solid #000;
    padding: 15px 0;
    width: 355px;
}
.customer .field label, .field__label {
    left: 0;
}
.newsletter__wrapper .newsletter-form__field-wrapper .field {
    justify-content: space-between;
}.newsletter__wrapper .newsletter-form__field-wrapper,.newsletter-form {
    max-width: 507px;
}


 


/* Footer */

.footer__content-bottom .footer__column--info {
    flex-direction: row;
    justify-content: space-between;
}

small.copyright__content {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}

.footer-block__details-content.rte {
    font-family: 'Work Sans',sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: black;
}
ul.footer__list-social.list-unstyled.list-social {
    justify-content: flex-start;
   padding-left: 0;
}

/* Afterpay Formatting */
span.afterpay-text1 {
    font-size: 12px;
    text-transform: uppercase;
}

strong.afterpay-instalments {
    font-size: 12px;
}

span.afterpay-text2 {
    font-size: 12px;
    text-transform: uppercase;
}

a.afterpay-link {
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

/* Mobile Menu */
a.menu-drawer__menu-item {
    font-size: 12px;
    letter-spacing: 1px;
}

summary.menu-drawer__menu-item.list-menu__item {
    font-size: 12px;
    letter-spacing: 1px;
}

.menu-drawer__close-button {
    font-size: 12px;
    font-family: 'Work Sans';
    font-weight: 600;
    letter-spacing: 1px;
}


/* Mobile Filter */

.facets__summary>div, .mobile-facets__summary>div {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
}

select#SortBy-mobile {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Work Sans';
    color: black;
}

button.mobile-facets__close-button.link.link--text.focus-inset {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

label.mobile-facets__label {
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    letter-spacing: 1px;
}

.mobile-facets__count {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p.mobile-facets__info {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}

price-range.facets__price {
    max-width: 100%;
    display: block;
}

.facets__price .field-currency {
    margin-left: 1.9rem;
    color: black;
}

input#Mobile-Filter-Price-GTE {
    font-size: 12px;
}

.facets__price .field__label {
    font-size: 12px;
    text-transform: uppercase;
}

.collection-product-count__text {
    font-size: 12px;
    text-transform: uppercase;
}

span.active-facets__button-inner {
    border-radius: 0px;
    line-height: 13px;
}

@media screen and (max-width: 989px){
.active-facets__button, .active-facets__button-remove {
    padding-right: 0px;
}
}

.active-facets__button, .active-facets__button-remove {
    text-transform: uppercase;
}

.collection-container .grid.show-product-images .grid__item .grid-view-item__image-wrapper .grid-view-item__image {
  opacity: 0.0;
  filter: alpha(opacity=0);
  transition: all 300ms ease-in-out; }
.collection-container .grid.show-product-images .grid__item .grid-view-item__image-wrapper .grid-view-item__image + .grid-view-item__image {
  opacity: 1.0;
  filter: alpha(opacity=100); }
@media (min-width: 1024px) {
  .collection-container .grid.show-product-images .grid__item .grid-view-item__image-wrapper:hover .grid-view-item__image:first-of-type {
    opacity: 1.0;
    filter: alpha(opacity=100);
    z-index: 2; } }


    .show-product-images{
      opacity: 0.0;
      filter: alpha(opacity=0);
      transition: all 300ms ease-in-out; }

      .show-product-images{
        opacity: 1.0;
        filter: alpha(opacity=100); }


@media screen and (min-width: 750px)
.banner__content {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

@media screen and (max-width: 749px){

.product-view {
    margin-top: 5px;
}
  .footer__content-bottom .footer__column--info {
    flex-direction: column;
    padding: 0;
}
  /* shipping policy */

.shipping-data {
    overflow: scroll;
    padding: 2px 2px;
 }
  .banner .banner__content {
    position: absolute;
    bottom: 0;
}
  .banner .banner__media.media.banner__media-half:first-of-type { 
    display: none;
}
  .shippingData,.shippingData:last-child {
    justify-content: center;
}
.shippingData .shipping-label {
    height: auto;
    width: auto;
    margin-bottom: 5px;
}
 
}
 
@media screen and (max-width: 480px){
button#Subscribe {
    margin-top: 15px;
    margin-left: 0px;
}
 .newsletter__wrapper .newsletter-form__field-wrapper .field {
    flex-direction: column;
}
 .newsletter-form__field-wrapper .field .field__input {
    width: 100%;
}
  .newsletter-form__field-wrapper .field {
       align-items: center;
}
  
  
}

/* Product Pop Up Table */
td, th {
  font-size: 12px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-bottom: 1px solid black;
}


    /******** Custom Fonts ********/

    @font-face {
      font-family: 'Campton Bold';
      font-weight: bold;
      src: url('Campton-Bold.eot?#iefix') format('embedded-opentype'), url('Campton-Bold.otf') format('opentype'), url('Campton-Bold.woff') format('woff'), url('Campton-Bold.ttf') format('truetype'), url('Campton-Bold.svg#Campton-Bold') format('svg');
    }

    @font-face {
      font-family: 'Campton Medium';
      font-weight: 300;
      src: url('Campton-Medium.eot?#iefix') format('embedded-opentype'), url('Campton-Medium.otf') format('opentype'), url('Campton-Medium.woff') format('woff'), url('Campton-Medium.ttf') format('truetype'), url('Campton-Medium.svg#Campton-Medium') format('svg');
    }

    @font-face {
      font-family: 'Campton Light';
      font-weight: 200;
      src: url('Campton-Light.eot?#iefix') format('embedded-opentype'), url('Campton-Light.otf') format('opentype'), url('Campton-Light.woff') format('woff'), url('Campton-Light.ttf') format('truetype'), url('Campton-Light.svg#Campton-Light') format('svg');
    }

    @font-face {
      font-family: 'Campton Thin';
      src: url('Campton-Thin.eot?#iefix') format('embedded-opentype'), url('Campton-Thin.otf') format('opentype'), url('Campton-Thin.woff') format('woff'), url('Campton-Thin.ttf') format('truetype'), url('Campton-Thin.svg#Campton-Thin') format('svg');
      font-weight: 100;
    }

    @font-face {
      font-family: 'galano_grotesqueregular';
      src: url('galanogrotesqueregular-webfont.eot');
      src: url('galanogrotesqueregular-webfont.eot?#iefix') format('embedded-opentype'), url('galanogrotesqueregular-webfont.woff2') format('woff2'), url('galanogrotesqueregular-webfont.woff') format('woff'), url('galanogrotesqueregular-webfont.ttf') format('truetype'), url('galanogrotesqueregular-webfont.svg#galano_grotesqueregular') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'galano_grotesquemedium';
      src: url('galanogrotesquemedium-webfont.eot');
      src: url('galanogrotesquemedium-webfont.eot?#iefix') format('embedded-opentype'), url('galanogrotesquemedium-webfont.woff2') format('woff2'), url('galanogrotesquemedium-webfont.woff') format('woff'), url('galanogrotesquemedium-webfont.ttf') format('truetype'), url('galanogrotesquemedium-webfont.svg#galano_grotesquemedium') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    .h0,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      font-family: 'Campton Light';
    }
    /******** Global ********/

    .page-width {
      max-width: 150rem;
    }

    .page-width.page-width--narrow {
      /*     max-width: 72.6rem; */
      max-width: 90rem;
      padding: 0;
    }

    p {
      font-size: 14px;
      line-height: 26px;
      font-family: Campton Light;
    }

    .list-menu__item {
      text-transform: uppercase;
      font-size: 14px;
      font-family: Campton Light;
    }
    /******** Header Page ********/

    .header {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    input#Search-In-Modal {
      box-shadow: 0 0 0 .1rem var(--color-foreground-8);
        }

    .header__active-menu-item {
      transition: text-decoration-thickness var(--duration-short) ease;
        color: var(--color-base-accent-1);
          text-decoration: none;
          text-underline-offset: 0.3rem;
          border-bottom: 2px solid;
          }
    /******** Footer Page ********/

    h2.footer-block__heading {
      font-family: Campton Light;
      font-size: 23px;
    }

    .footer-block__details-content.rte p {
      font-family: Campton Light;
    }

.footer__column.footer__column--info {
    flex-direction: row;
    justify-content: space-between;
}
    /******** Home Page ********/
    /******** Sections ********/
    /* Image With Text */

    h2.image-with-text__heading.h1 {
      font-family: Campton Light;
      font-size: 25px;
    }
    /* Highlight Section */

    .highlight.background-secondary .highlight-card {
      background: #f5f5f5;
    }

    .highlight .title {
      text-align: center;
      width: 100%;
      color: #000000;
      font-family: Campton Light;
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 41px;
    }

    #shopify-section-template--14895793275029__1626575110c2f62404 {
      margin-top: 0;
      background: #f8f8f8;
    }

    .highlight-list {
      margin-top: -27px;
    }

    .bottom-banner .highlight-list .highlight-list__item .highlight-card__info {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0 !important;
    }

    .bottom-banner .highlight-list .highlight-list__item .highlight-card__info h3 {
      font-size: 10px;
      font-family: 'galano_grotesquemedium';
    }

    .bottom-banner .highlight-list .highlight-list__item .highlight-card__image-wrapper {
      width: 15%;
      margin-right: 0;
    }

    .bottom-banner .highlight-list .highlight-list__item .media {
      overflow: unset;
    }

    .bottom-banner .highlight-list .highlight-list__item .media img {
      width: auto;
      height: 33px;
      object-fit: contain;
      top: 0;
    }

    .bottom-banner .highlight-list {
      padding: 12px 0 18px !important;
    }

    .bottom-banner .highlight-list .highlight-list__item {
      border-right: 1px solid #E6E6E6;
    }

    .bottom-banner .highlight-list .highlight-list__item .highlight-card-half {
      align-items: center;
      justify-content: center;
    }

    .bottom-banner .highlight-list .highlight-list__item:last-child {
      border-right: none;
    }
    /* Collage Section */

    .collage-wrapper .page-width h2 {
      text-align: center;
      width: 100%;
      color: #000000;
      font-family: Campton Light;
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 41px;
    }
    /* Rich Text Section */

    .rich-parent {
      background: #f8f8f8;
    }

    .rich-text__blocks h2 {
      text-align: center;
      width: 100%;
      color: #000000;
      font-family: Campton Light;
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 41px;
    }

    .rich-text__blocks .rich-text__text>p strong {
      color: #67a099;
      font-size: 15px;
    }

    .title {
      text-align: center;
    }

    .rich-text__text.rte p {
      font-size: 20px;
      color: #000000;
      line-height: 35px;
    }
    /* Banner Section */

    .banner__content .banner__box {
      width: 620px;
    }

    .banner__heading h1 span {
      text-align: center;
      width: 100%;
      color: #000000!important;
      font-family: Campton Light!important;
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 41px;
    }

    h2.banner__heading.h1 {
      text-align: left;
      width: 100%;
      color: #ffffff;
      font-family: Campton Light;
      font-size: 80px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 41px;
      line-height: 90px;
    }

    .homebanner.slick-slide img {
      display: block;
      width: 100%;
      height: 700px;
      object-fit: cover;
    }

    ul.slick-dots {
      list-style: none;
      padding: 0;
      position: relative;
      top: -40px;
      margin: 0;
      display: flex !important;
      align-items: center;
      justify-content: center;
    }

    ul.slick-dots li {
      margin: 0 5px;
    }

    ul.slick-dots li button {
      border: 1px solid #fff;
      background: none;
      font-size: 0;
      width: 10px;
      height: 13px;
      border-radius: 50%;
      display: inline-block;
    }

    ul.slick-dots li.slick-active button {
      background: rgba(255, 255, 255, 0.6);
    }

    .homebanner {
      position: relative;
    }

    .homebanner:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      margin: auto;
      opacity: .3;
      height: 100%;
    }

    .homebanner .banner__content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
    }

    .banner__content .banner__text span {
      color: #fff;
      font-size: 18px;
      line-height: 27px;
      font-weight: 300;
    }

    .banner__content .banner__buttons {
      margin: 10px 0 0;
    }

    .banner__content .banner__buttons a {
      color: white;
      border: 1px solid #fff;
      opacity: 0.5;
    }
    /* Banner Section */

    .newsletter__wrapper.color-accent-1 h2.h2 {
      font-family: Campton Light;
      font-size: 32px;
      max-width: 400px;
    }
    /* featured collection for our winter section */

    .grid.home_slide_sec {
      width: 64%;
      margin-left: 7%;
    }

    .collection h2.title {
      font-size: 25px;
      font-weight: 300;
    }

    .winter-section {
      width: 25%;
      padding: 0 50px 0px 0;
    }

    .winter-section p {
      line-height: 20px;
      font-size: 15px;
      font-weight: 300;
      max-width: 320px;
    }

    .winter-section a {
      font-size: 15px;
      color: #000;
      font-weight: 600;
    }

    .home-featured {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      /*     justify-content: space-between; */
    }

    .grid.home_slide {
      width: 64%;
      margin-left: 7%;
    }

    .grid.home_slide li.grid__item.slider__slide {
      padding: 0;
      margin: 5px;
    }

    .collection .slick-slider li.slider__slide .card--product {
      height: 362px;
    }

    .collection .slick-slider li.slider__slide .media img {
      top: auto;
      height: auto;
      width: auto;
      bottom: 0;
    }

    .collection .slick-slider li.slider__slide .card-information {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .collection .slick-slider li.slider__slide .card-information .price {
      margin-top: 0;
      color: #616161;
    }

    .winter-section h3 {
      font-size: 25px;
      font-weight: 300;
      margin-bottom: 0;
    }
    /* winter 2 featured collection */

    .grid.home_slide_sec li.grid__item.slider__slide {
      padding: 0;
      margin: 5px;
    }

    .collection .home_slide_sec li.slider__slide .media img {
      top: auto;
      height: auto;
      width: auto;
      bottom: 0;
    }
    /* Video */

    #shopify-section-template--14895793275029__162804906057bc54b9 img {
      height: 700px;
      object-fit: cover;
    }

    .deferred-media__poster-button {
      top: auto !important;
    }
    /* Modern Wellness Technology */

    #shopify-section-template--14895793275029__16273068561aa9a916 {
      background: #f8f8f8;
      padding: 40px 0;
    }

    #shopify-section-template--14895793275029__16273068561aa9a916 .collage-wrapper .collage-card__image-wrapper img {
      object-fit: unset;
    }
    /* Shop Collection */

    .shop-collection {}

    .shop-collection ul.highlight-list {}

    .shop-collection ul.highlight-list li {}

    .shop-collection ul.highlight-list li .highlight-card__info h3 {
      color: #000000;
      font-size: 15px;
      font-weight: 300;
    }

    .shop-collection ul.highlight-list li .highlight-card__info .rte a {
      color: #000000;
      font-size: 15px;
      font-weight: 400;
    }

    .shop-collection ul.highlight-list li .highlight-card__info {
      padding-top: 12px;
    }

    .shop-collection ul.highlight-list li .highlight-card__info .rte {
      margin-top: 5px;
    }

    .shop-collection a.button.button--primary {
      font-size: 17px;
      color: #000000;
      font-family: 'Campton Light';
      font-weight: 300;
      background: #FFFFFF;
      box-shadow: 0 0 0 0.1rem #000;
      min-height: 3.5rem;
      height: 18px;
    }
    /******** Product Grid ********/

    span.card-information__text.h6 {
      margin-bottom: 0;
      font-size: 14px;
      margin-top: 10px;
    }

    .price.price--on-sale {
      font-size: 14px;
      font-weight: 300;
    }

    .price {
      font-size: 14px;
    }
    /* .media model-viewer, .media>:not(.zoom,.deferred-media__poster-button) {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    margin-top: 30px;
    }
    */

    .card--product {
      border: .0rem solid var(--color-foreground-4);
        position: relative;
        }

    .product__description {
      font-size: 14px;
    }
    /******** Mega Menu ********/

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul li a {
      color: #000;
      display: block;
      text-decoration: none;
      font-family: Campton Light;
      font-size: 16px;
      text-align: left;
      line-height: 29px;
    }

    .list-menu--right {
      right: 0;
    }

    details-disclosure>details {
      position: static;
    }

    .open-mega-menu {
      position: absolute;
      min-width: 100%;
      width: 20rem;
      border: 1px solid var(--color-foreground-20);
        background-color: var(--color-background);
          left: 0;
          }

    .list-menu--disclosure {}

    .list-menu--disclosure:focus {
      outline: none;
    }

    .list-menu__item--active {
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }

    .list-menu--disclosure.localization-selector {
      max-height: 18rem;
      overflow: auto;
      width: 10rem;
      padding: 0.5rem;
    }

    .sub-menu-area {
      display: flex;
    }

    .sub-menu-area .sub-menu-list-box {
      width: 70%;
      display: flex;
      justify-content: space-between;
    }

    .sub-menu-area .sub-menu-list-box-other {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box {
      width: 23%;
      margin-right: 2%;
      text-align: left;
    }

    .sub-menu-area .sub-menu-list-box-other .sub-menu-item-box {
      text-align: center;
      margin: 0 2%;
      display: flex;
      align-items: center;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box h4 {
      font-weight: 300;
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul li {
      margin: 5px 0;
    }

    .sub-menu-area .sub-menu-list-box .sub-menu-item-box ul li a {
      color: #000;
      display: block;
      text-decoration: none;
    }

    .sub-menu-area .sub-menu-image {
      width: 30%;
    }

    .sub-menu-area .sub-menu-image img {
      width: 100%;
    }

    .menu-width-box {
      padding: 40px;
    }

    .header {
      padding-left: 40px;
      padding-right: 40px;
    }
    /* Blog Section  */

    .blog {
      background: none!important;
    }

    .article-card__info {
      padding: 0!important;
    }

    .blog ul li .article-card__title {
      font-size: 24px;
      color: 000000;
      font-weight: 500;
      font-family: 'Campton Light';
      padding: 10px 0px;
    }

    .blog ul li .article-card__excerpt {
      font-size: 15px;
      color: 000000;
      font-weight: 300;
      font-family: 'Campton Light';
      line-height: 19px;
      margin-left: 0px
    }

    .blog ul li:hover h2 {
      text-decoration: none!important;
      list-style: none!important;
    }

    .blog ul li .article-card__header .caption-with-letter-spacing {
      font-size: 1.5rem;
      letter-spacing: .13rem;
      line-height: 1;
      text-transform: capitalize;
      border-right: 1px solid #000;
      font-weight: 500;
    }

    .blog ul li header.article-card__header {
      padding-top: 33px;
    }

    .blog ul li header.article-card__header span:nth-child(1) {
      padding-right: 17px;
    }

    .blog ul li header.article-card__header span:nth-child(2) {
      padding-left: 17px;
      border-right: 0px;
    }

/* Contact us  and stockiest*/

.contact.page-width.page-width--narrow.spaced-section {
    margin-top: 20px;
}
#shopify-section-template--14895793471637__main .page-width.page-width--narrow{
    margin-top: 20px;
}

#shopify-section-template--14895793406101__main .main-page-title {
    margin-top: 30px;
}

#shopify-section-template--14895793471637__main .main-page-title {
    margin-top: 30px;
}

    /* Testimonials  */

    .testimonial ul li h3 {
      font-size: 15px;
      color: 000000;
      font-weight: 500;
      font-family: 'Campton Light';
    }

    .testimonial ul li .highlight-card {
      background: #f8f8f8!important;
    }

    .testimonial {
      background: #f8f8f8!important;
    }

    .testimonial .title-wrapper-with-link h2 {
      font-size: 35px;
      color: 000000;
      font-weight: 400;
      font-family: 'Campton Light';
    }

    .testimonial ul li .rte p {
      font-size: 15px;
      color: 000000;
      font-weight: 300;
      font-family: 'Campton Light';
      line-height: 19px;
    }

    .testimonial .button {
      background: none!important;
      font-size: 17px;
      color: #000;
      font-family: 'Campton Light';
      font-weight: 300;
      background: #fff;
      box-shadow: 0 0 0 0.1rem #000;
      min-height: 3.5rem;
      height: 18px;
    }
    /* Newslatter */

    .newsletter__wrapper .page-width {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }
    /*footer social icons*/

    footer .list-social {
      justify-content: flex-start;
    }

    footer .list-social__link:nth-child(1) {
      padding-left: 0px!important;
    }
    /* Media Query */

    @media screen and (min-width: 992px) and (max-width: 5000px) {
      .blog .blog__posts .article+.article {
        margin-left: 2em!important;
      }
      .blog .grid--3-col-desktop .grid__item {
        width: calc(33.33% - 2em * 2 / 3)!important;
      }
    }

@media screen (max-width: 1299px){
  ul.sub-collection {
      overflow-x: auto;
  }
}


    @media screen  (max-width: 1199px) {
      .collage-wrapper.no-heading {
        margin-top: 0;
      }
    }
      .newsletter__wrapper {
        padding: 6rem 0rem 7rem!important;
      }
      .bottom-banner .highlight-list .highlight-list__item .highlight-card__image-wrapper {
          margin-left: 0;
          margin-right: 15px;
        width: 25%;

      }
      .bottom-banner .highlight-list .highlight-list__item .media img {
          height: 40px;
          position: static;
      }
      .background-none .slider .highlight-card__image-wrapper+.highlight-card__info {
        width: 75%;
      }
      .bottom-banner .highlight-list .highlight-list__item .media {
          padding: 0 !important;
      }
/*       .bottom-banner .highlight-list .highlight-list__item .highlight-card__info h3 {
        font-size: 12px;
        line-height: 17px;
      } */
    

    @media (max-width:992px) {
      .page-width-desktop {
        padding: 0 5rem;
      }
      .winter-section,
      .grid.home_slide {
        width: 100%;
        padding: 0;
        margin: 0;
      }
      .winter-section,
      .grid .home_slide_sec {
        width: 100%;
        padding: 0;
        text-align: center;
      }
      .winter-section p {
        max-width: 100%;
      }
      .grid.home_slide_sec {
        width: 100% !important;
        margin-left: 0;
      }
      .home_slide button {
        height: 40px;
        width: 40px;
        right: -20px;
      }
      .home_slide .slick-prev {
        left: -20px;
      }
      .home_slide.slider.slider--tablet {
        width: 100% !important;
        margin: 40px 0 0 !important;
        position: relative;
      }
      .home_slide_sec .slider.slider--tablet {
        width: 100% !important;
        margin: 40px 0 0 !important;
        position: relative;
      }
      .home_slide.slider .slick-dots,
      .home_slide_sec .slider .slick-dots {
        position: absolute;
        bottom: 5px;
        top: auto;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        width: 100%;
      }
      .home_slide.slider .slick-dots li,
      .home_slide_sec .slider .slick-dots li {
        height: 15px;
        width: 15px;
        z-index: 99999;
        background: #fff;
        border-radius: 50%;
        border: 3px solid #468c84;
      }
      .home_slide.slider .slick-dots li.slick-active,
      .home_slide_sec .slider .slick-dots li .slick-active {
        background: #468c84;
      }
      .slider-buttons.no-js-hidden {
        display: none !important;
      }
      h2.banner__heading.h1 {     
          font-size: 50px;
          line-height: 60px;
          text-align: left;
          margin-bottom: 30px;

      }
      .newsletter__wrapper .page-width {
        justify-content: center;
      }
      .newsletter__wrapper.color-accent-1 h2.h2,
      .newsletter-form {
        max-width: 100%;
      }
      .title-wrapper-with-link.title-wrapper-with-link--no-heading {
        display: none;
      }
      .highlight.background-none.bottom-banner {
        margin-top: 27px;
      }
      .block-slider ul.slick-dots {
        position: absolute;
        top: auto;
        bottom: 10px;
        width: 100%;
      }


      section#shopify-section-template--14895793275029__162730687885c2d23f,
      section#shopify-section-template--14895793275029__16291176776ddcdb72,
      section#shopify-section-template--14895793275029__1627306633273da040,
      section#shopify-section-template--14895793275029__1627306633273da040{
        display: none;
      }
      .home-featured .grid.home_slide li.grid__item.slider__slide {
          padding: 0;
      }
      .banner__content .banner__box {
/*           width:420px; */
        text-align: left;

      }
      .rich-parent .rich-text__blocks {
          max-width: 100%;
          width: 100%;
      }
      .rich-parent .rich-text:not(.color-background-1) {
        padding-top: 7rem;
        padding-bottom: 7rem;
        margin: 0 auto;
        padding: 3rem 0;
    }
     .rich-parent  .rich-text__text.rte p {
        font-size: 18px;
        color: #000;
        line-height: 30px;
        font-weight: 300;
    }
     .collage-section .collage-wrapper.no-heading {
        margin-top: 2rem;
    }
    section#shopify-section-template--14895793275029__162730461128b3c63f .highlight.shop-collection.background-none {
        margin: 80px auto 30px;
    }

    }

@media  (max-width:991px){
    #shopify-section-template--14895793406101__1628431647bdcdbfe5 {
        max-width: 90%;
        margin: 0 auto;
    }
    #shopify-section-template--14895793406101__main .page-width.page-width--narrow {
        max-width: 90%;
        margin: 0 auto;
    }
  #shopify-section-template--14895793471637__1628431512f1b4baec {
        max-width: 90%;
        margin: 0 auto;
    }
  #shopify-section-template--14895793471637__main .page-width.page-width--narrow {
        max-width: 90%;
        margin: 0 auto;
    }
  
}

    @media (max-width:768px) {
      .grid.home_slide li.grid__item.slider__slide {
        padding: 0 0 40px 0;
      }
      .home-featured .slider-buttons.no-js-hidden,
      .home_slide button:after {
        display: none !important;
      }
    
      body,
      html {
        overflow-x: hidden;
      }
      .page-width-desktop {
        padding: 0 1rem;
      }
      .highlight.background-none.bottom-banner {
/*         margin: 0; */
        /*     display: none; */
      }
      .title-wrapper-with-link.title-wrapper--self-padded-mobile.title-wrapper-with-link--no-heading {
        display: none;
      }
      .spaced-section {
        margin-top: 0rem;
      }
/*       .rich-text:not(.color-background-1) {
        padding: 2rem 0;
        margin: 0rem auto 3rem;
      } */
      .grid .home_slide_sec,
      .winter-section {
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 0;
      }
      .winter-section p {
        max-width: 100%;
      }
      .home_slide ul.slick-dots {
        top: 0;
      }
      .home_slide ul.slick-dots li button {
        border: 3px solid #305f59;
        width: 10px;
        height: 10px;
        padding: 3px;
      }
      .home_slide ul.slick-dots li.slick-active button {
        background: #305f59;
      }
      .title,
      .title-wrapper-with-link {
        margin: 1rem 0;
      }
      .grid.home_slide_sec {
        width: 100%;
        margin: 40px auto;
      }
      .collage-card.collage-video {
        margin: 20px auto 50px;
      }
      .title-wrapper-with-link {
        justify-content: center;
      }
      .highlight.shop-collection.background-none {
        margin: 30px auto;
      }
      .shop-collection .highlight-card__info {
        text-align: center;
      }
      .slider.slider--mobile {
        padding-bottom: 0;
      }
      .highlight-list .highlight-card-spacing {
        padding-top: 0;
      }
      .blog {
        padding-bottom: 0;
      }
      .grid.home_slide li.grid__item.slider__slide {
        padding: 0 0 0px 0;
      }
      .media--portrait {
        padding: 49%;
      }
      .collection .slick-slider li.slider__slide .media img {
        height: 100%;
      }
      .newsletter__wrapper {
        padding: 20px;
        flex-wrap: wrap;
      }
      .newsletter__wrapper.color-accent-1 h2.h2 {
        font-family: Campton Light;
        font-size: 22px;
        max-width: 100%;
        width: 100%;
        text-align: center;
      }
      .newsletter-form__field-wrapper .newsletter__button {
        margin-top: 2rem;
        width: 100%;
        line-height: 20px;
      }
      .blog ul li .article-card__title {
        font-size: 17px;
      }
      .testimonial .title-wrapper-with-link h2,
      .collage-wrapper.page-width h2,
      .rich-text__blocks h2 {
        font-size: 25px;
      }
      .banner__box {
          margin-top: 60px!important;
      }
      .collection h2.title {
          font-size: 19px;
          font-weight: 300;
          line-height: 28px;
          margin-top: 30px;
      }
      .grid.home_slide, .winter-section {
        width: 100%;
        padding: 0;
        margin: 20px 0 50px;
    }
     section#shopify-section-template--14895793275029__16293432492909d6c4 .banner__content .banner__box {
        width: 100%;
       margin: auto 0 !important;
       position: absolute;
       bottom: 0;
       padding: 30px 20px;
       text-align: center;

      }
     section#shopify-section-template--14895793275029__16293432492909d6c4  h2.banner__heading.h1 {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 20px;
      }

    }
    @media (max-width: 749px){
      .highlight.background-none.bottom-banner {
        margin-top: 0 !important;
      }
     .highlight.background-none.bottom-banner  .slider.slider--mobile .slider__slide {
          display: flex;
          align-items: center;
          justify-content: center;
      }
     .bottom-banner .highlight-list .highlight-list__item .highlight-card__image-wrapper {
        width: 20%;
    }
   .background-none .slider .highlight-card__image-wrapper+.highlight-card__info {
      width: 80%;
  }
      
 .footer__column.footer__column--info { 
    flex-direction: column;
    justify-content: center;
}
  .footer__payment {
    margin-top: 0px;
}
      
  .banner .banner__content {
    position: absolute;
    bottom: 0;
}
    }

    @media screen and (max-width: 480px) {
       .highlight.background-none.bottom-banner .highlight-list.slider .highlight-list__item {
          width: 100%;
      }
      .homebanner h2.banner__heading.h1 {
        font-size: 40px;
        line-height: 50px;
      }
      .homebanner.slick-slide img {
        height: 350px;
      }
      .highlight.background-none.bottom-banner .slider.slider--mobile .slider__slide {
          justify-content: flex-start;
      }
      .bottom-banner .highlight-list .highlight-list__item .media img {
            width: 33px;
    		height: 33px;

      }
      .bottom-banner .highlight-list .highlight-list__item .highlight-card__image-wrapper {
        margin-right: 10px;
        width:50px;
      }
      .block-slider ul.slick-dots {
        position: absolute;
        top: auto;
        bottom: 10px;
        width: 100%;
      }
      .block-slider ul.slick-dots li button {
        width: 13px;
        height: 13px;
        padding: 0;
      }
      .newsletter-form {
        flex-direction: column;
      }
      .newsletter__wrapper .newsletter-form__field-wrapper {
        max-width: 100%!important;
      }
      .newsletter__button {
        margin-top: 20px;
        margin-left: 0;
        width: 100%!important;
      }
    }